{
    "icon": "http://nj02all01.baidupcs.com/file/fc3cfb8fdec216da319ba45b102c1d04?bkt=p2-nj02-861&fid=1097258300-250528-998175553477468&time=1447505740&sign=FDTAXGERLBH-DCb740ccc5511e5e8fedcff06b081203-9fnzQwDYkTSXBELj3DG%2F19NAwCU%3D&to=nj2hb&fm=Nan,B,G,ny&sta_dx=0&sta_cs=0&sta_ft=jpg&sta_ct=0&fm2=Nanjing02,B,G,ny&newver=1&newfm=1&secfm=1&flow_ver=3&pkey=1400fc3cfb8fdec216da319ba45b102c1d04dd3ac565000000024edd&sl=71696462&expires=8h&rt=pr&r=700113451&mlogid=7372349002621846270&vuk=1097258300&vbdid=1833870351&fin=2.jpg&fn=2.jpg&slt=pm&uta=0&rtype=1&iv=0&isw=0&dp-logid=7372349002621846270&dp-callid=0.1.1",
    "background": "http://libertydome.b0.upaiyun.com/ldbg.png",
    "version": "0.3",
    "generation": "2",
    "author": "喵呜幻想乡团队",
    "instanceName": "Fantasy township",
    "description": "喵呜幻想乡ver0.3
	1.修复下载失败问题",
    "updatePath": "https://raw.githubusercontent.com/xiamenggroup/SWSW/master/.gitignore",
    "fileSystem": {
        "entirePackageFiles": [
            {
                "name": "Library",
                "downloadLink": "http://01f519.l21.yunpan.cn/lk/cLSGyit6P8Wag#/-0",
                "localPath": "libraries/",
                "md5": "4482E062E7563A387EE0E5810F06634B"
            },
            {
                "name": "Assets",
                "downloadLink": "http://01f519.l21.yunpan.cn/lk/cLSGyit6P8Wag#/-0",
                "localPath": "assets/",
                "md5": "BC9F74AA3C8EBCFE34BEAE2E3474A23D"
            },
            {
                "name": "Natives",
                "downloadLink": "http://01f519.l21.yunpan.cn/lk/cLSGyit6P8Wag#/-0",
                "localPath": "natives/",
                "md5": "5DB33E7FAE680081F2744B739E12CB4E"
            },
            {
                "name": "Scripts",
                "downloadLink": "http://01f519.l21.yunpan.cn/lk/cLSGyit6P8Wag#/-0",
                "localPath": "scripts/",
                "md5": "40AE6A2C4008F9CA66D42DB5068358BA"
            },
            {
                "name": "Configs",
                "downloadLink": "http://01f519.l21.yunpan.cn/lk/cLSGyit6P8Wag#/-0",
                "localPath": "config/",
                "md5": "050CFC639E8F95E16C6A3A790154A747"
            },
            {
                "name": "CustomSkinLoader",
                "downloadLink": "http://libertydome.b0.upaiyun.com/CustomSkinLoader.zip",
                "localPath": "CustomSkinLoader/",
                "md5": "DBCEE6B837590BEB26CF707EDC24FD17"
            },
            {
                "name": "Mods",
                "downloadLink": "http://01f519.l21.yunpan.cn/lk/cLSGyit6P8Wag#/-0",
                "localPath": "mods/",
                "md5": "A2C3AB40412C2F7DF3ECF803435AD52A"
            }
        ],
        "customFiles": [
            {
                "name": "MainJar",
                "downloadLink": "http://01f519.l21.yunpan.cn/lk/cLSGyit6P8Wag#/-0",
                "localPath": "喵屋幻想乡.jar",
                "md5": "3CC1782D340A224A5E091231442CFB63"
            },
            {
                "name": "ServerData",
                "downloadLink": "http://01f519.l21.yunpan.cn/lk/cLSGyit6P8Wag#/-0",
                "localPath": "servers.dat",
                "md5": "A812EFEBDBF4932BA94F4707E3B4F5E8"
            },
            {
                "name": "GregTechLang",
                "downloadLink": "http://01f519.l21.yunpan.cn/lk/cLSGyit6P8Wag#/-0",
                "localPath": "GregTech.lang",
                "md5": "93E160A1ED17638A25C4A3058F35F6AA"
            },
			{
                "name": "Setting",
                "downloadLink": "http://01f519.l21.yunpan.cn/lk/cLSGyit6P8Wag#/-0",
                "localPath": "options.txt",
                "md5": "DC9656AC4C8F8B5BE74C564CF7AD8011"
            }			
        ]
    },
    "startupArguments": {
        "jvmArguments": [
            "-XX:+UseConcMarkSweepGC",
            "-XX:+CMSIncrementalMode",
            "-XX:-UseAdaptiveSizePolicy",
            "-Xmn128M",
            "-XX:MaxPermSize=256M",
            "-Dfml.ignoreInvalidMinecraftCertificates=true",
            "-Dfml.ignorePatchDiscrepancies=true"
        ],
        "miniumMemoryMegaSize": 0,
        "nativespath": "natives",
        "libraryPaths": [
            "libraries/net/minecraftforge/forge/1.7.10-10.13.4.1517-1.7.10/forge-1.7.10-10.13.4.1564-1.7.10.jar",
            "libraries/com/mumfrey/liteloader/1.7.10/liteloader-1.7.10.jar",
            "libraries/net/minecraft/launchwrapper/1.11/launchwrapper-1.11.jar",
            "libraries/org/ow2/asm/asm-all/5.0.3/asm-all-5.0.3.jar",
            "libraries/com/google/guava/guava/16.0/guava-16.0.jar",
            "libraries/net/minecraft/launchwrapper/1.12/launchwrapper-1.12.jar",
            "libraries/org/ow2/asm/asm-all/5.0.3/asm-all-5.0.3.jar",
            "libraries/com/typesafe/akka/akka-actor_2.11/2.3.3/akka-actor_2.11-2.3.3.jar",
            "libraries/com/typesafe/config/1.2.1/config-1.2.1.jar",
            "libraries/org/scala-lang/scala-actors-migration_2.11/1.1.0/scala-actors-migration_2.11-1.1.0.jar",
            "libraries/org/scala-lang/scala-compiler/2.11.1/scala-compiler-2.11.1.jar",
            "libraries/org/scala-lang/plugins/scala-continuations-library_2.11/1.0.2/scala-continuations-library_2.11-1.0.2.jar",
            "libraries/org/scala-lang/plugins/scala-continuations-plugin_2.11.1/1.0.2/scala-continuations-plugin_2.11.1-1.0.2.jar",
            "libraries/org/scala-lang/scala-library/2.11.1/scala-library-2.11.1.jar",
            "libraries/org/scala-lang/scala-parser-combinators_2.11/1.0.1/scala-parser-combinators_2.11-1.0.1.jar",
            "libraries/org/scala-lang/scala-reflect/2.11.1/scala-reflect-2.11.1.jar",
            "libraries/org/scala-lang/scala-swing_2.11/1.0.1/scala-swing_2.11-1.0.1.jar",
            "libraries/org/scala-lang/scala-xml_2.11/1.0.2/scala-xml_2.11-1.0.2.jar",
            "libraries/lzma/lzma/0.0.1/lzma-0.0.1.jar",
            "libraries/net/sf/jopt-simple/jopt-simple/4.5/jopt-simple-4.5.jar",
            "libraries/com/google/guava/guava/17.0/guava-17.0.jar",
            "libraries/org/apache/commons/commons-lang3/3.3.2/commons-lang3-3.3.2.jar",
            "libraries/com/mojang/realms/1.2.4/realms-1.2.4.jar",
            "libraries/org/apache/commons/commons-compress/1.8.1/commons-compress-1.8.1.jar",
            "libraries/org/apache/httpcomponents/httpclient/4.3.3/httpclient-4.3.3.jar",
            "libraries/commons-logging/commons-logging/1.1.3/commons-logging-1.1.3.jar",
            "libraries/org/apache/httpcomponents/httpcore/4.3.2/httpcore-4.3.2.jar",
            "libraries/java3d/vecmath/1.3.1/vecmath-1.3.1.jar",
            "libraries/net/sf/trove4j/trove4j/3.0.3/trove4j-3.0.3.jar",
            "libraries/com/ibm/icu/icu4j-core-mojang/51.2/icu4j-core-mojang-51.2.jar",
            "libraries/net/sf/jopt-simple/jopt-simple/4.5/jopt-simple-4.5.jar",
            "libraries/com/paulscode/codecjorbis/20101023/codecjorbis-20101023.jar",
            "libraries/com/paulscode/codecwav/20101023/codecwav-20101023.jar",
            "libraries/com/paulscode/libraryjavasound/20101123/libraryjavasound-20101123.jar",
            "libraries/com/paulscode/librarylwjglopenal/20100824/librarylwjglopenal-20100824.jar",
            "libraries/com/paulscode/soundsystem/20120107/soundsystem-20120107.jar",
            "libraries/io/netty/netty-all/4.0.10.Final/netty-all-4.0.10.Final.jar",
            "libraries/com/google/guava/guava/15.0/guava-15.0.jar",
            "libraries/org/apache/commons/commons-lang3/3.1/commons-lang3-3.1.jar",
            "libraries/commons-io/commons-io/2.4/commons-io-2.4.jar",
            "libraries/commons-codec/commons-codec/1.9/commons-codec-1.9.jar",
            "libraries/net/java/jinput/jinput/2.0.5/jinput-2.0.5.jar",
            "libraries/net/java/jutils/jutils/1.0.0/jutils-1.0.0.jar",
            "libraries/com/google/code/gson/gson/2.2.4/gson-2.2.4.jar",
            "libraries/com/mojang/authlib/1.5.13/authlib-1.5.13.jar",
            "libraries/org/apache/logging/log4j/log4j-api/2.0-beta9/log4j-api-2.0-beta9.jar",
            "libraries/org/apache/logging/log4j/log4j-core/2.0-beta9/log4j-core-2.0-beta9.jar",
            "libraries/org/lwjgl/lwjgl/lwjgl/2.9.1/lwjgl-2.9.1.jar",
            "libraries/org/lwjgl/lwjgl/lwjgl_util/2.9.1/lwjgl_util-2.9.1.jar",
            "libraries/tv/twitch/twitch/5.16/twitch-5.16.jar"
        ],
        "mainJarPath": "喵屋幻想乡.jar",
        "mainClass": "net.minecraft.launchwrapper.Launch",
        "version": "1.7.10",
        "assetsDir": "assets",
        "assetIndex": "1.7.10",
        "userType": "mojang",
        "tweakClasses": [
            "cpw.mods.fml.common.launcher.FMLTweaker",
            "com.mumfrey.liteloader.launch.LiteLoaderTweaker"
        ]
    }
}
